[Unit]
Description=meme gunicorn daemon
After=network.target

[Service]
User=bdavis
Group=www-data
WorkingDirectory=/home/bdavis/server
ExecStart=/home/bdavis/server/venv/bin/gunicorn --workers 5 --bind unix:/home/bdavis/server/meme.sock wsgi:application

[Install]
WantedBy=multi-user.target
