click==6.7
Flask==0.12
Flask-Cors==3.0.2
Flask-Login==0.4.0
Flask-OAuth==0.12
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
mongoengine==0.11.0
oauth2==1.9.0.post1
packaging==16.8
pymongo==3.4.0
pyparsing==2.1.10
requests==2.13.0
six==1.10.0
Werkzeug==0.11.15
