/*Iframe trash*/

#iframe-container
{
    width    : 300px;
    height   : 190px;
    overflow : hidden;
    position : relative;
    display: inline-block;
}

#iframe-div
{
    position : absolute;
    left     : -5px;
    top      : -200px;
    width    : 1280px;
    height   : 1200px;
}

/* Regular trash*/

html body {
    width: 100%;
    height: 100%;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    cursor: pointer;
}
td.banned {
    background-color: red;
}
table.portfolio{
    font-size: 22px;
    margin: 8px;
}
tr.economy {
    font-family: "Courier New";
    font-weight: 500;
    justify-content: left;
}
tr.economy-header td {
    padding: 8px;
}
tr.economy td{
    padding: 0px 0px;
    /*border: 1px solid black;*/
    /*min-width: 30px;*/
    padding: 0px 5px;
}
tr.economy:hover {
    font-weight: 700;
}
#create-meme {
    color: blue;
    text-decoration: underline;
}
table, th, td {
    /*border-bottom: 1px solid black;*/
    white-space: nowrap;
}

button.buysell {
    display: inline-block;
    width: 100%;
}

input.buysell {
    width: 100%;
}

/*TODO: Make floating buy/sell box prettier, esp. when screen is not maximized*/
.buysellbox {
    margin-bottom: 10px;
}

.footer {
    background: white;
    position: fixed;
    bottom: 0px;
    height: 25px;
    width: 100%;
    font-size: 20px;
    /*z-index: 10;*/
}

body > .container-fluid {
    margin-bottom: 50px;
}
#jsonP{
    overflow-x: hidden;
}
#social {
    width: 100%;
    margin: 10px 0px;
}
.refbutton {
    width: 48%;
    margin: .5%;
}
#selected-stock {
    overflow-x: hidden;
    white-space: nowrap;
}
.selected {
    font-size: 22px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    padding-right: -50px;
}
.selected span {
    padding: 0px 10px;
}
.selected button {
    font-size: 18px;
    margin: 5px 10px;
}
.trend_up {
    color: green;
}
.trend_down {
    color: red;
}

#market {
    /*overflow-x: auto;*/
    /*margin-bottom: 50px;*/
}
.nav {
    margin-bottom: 10px;
    font-size: 22px;
}
.pagination{
    text-align: center;
    width: 100%;
    font-size:20px;
    border: 1px solid;
}
.pagination a{
    font-size: 25px;
}

@media (min-width:0px){
    #buysellpadding {
        display: none;
    }
}
@media (min-width:768px){
    #buysellpadding {
        display: block;
    }
}

#tbm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 888888;
}

#titles
{
    position: absolute;
    width: 18em;
    height: 200em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}

#titles:after
{
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}

#titles p {
color: yellow;
}

#titlecontent
{
    position: absolute;
    top: 100%;
    animation: scroll 60s linear 0s infinite;
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}

#search-results {
    overflow-x: hidden;
}