<head>
    <title>memetrades API</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>        
<body>
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/"><h2>< Home</h2></a>
            </div>

            <div class="row">
                <div class='col-sm-12'>
                    <div class="col-md-8">
                        <!-- <h2>Cancer sucks.</h2> -->
                        <!-- <h4>St. Jude Children's Research Hospital gets $1.  You get 1000 memebucks.</h4> -->

                        <h3>How does this work?</h3>
                        <p>In order to process transactions</p>
                    </div>
                    <div class="col-md-4">
                        <br><br>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="CVC2QCP82ZHPG">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                </div>
            </div>
</body>