 <html>
 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The MemeTrades meme exchange is a free market for memers.  We're sorry.">
    <meta name="keywords" content="meme,exchange,trade,nasdanq,stock,memes,copypasta">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />

    <!-- FACEBOOK -->
    <meta property="og:title" content="Meme Trades" />
    <meta property="og:site_name" content="memetrades.com"/>
    <meta property="og:description" content="We strongly regret making this."/>
    
    <!-- TWITTER -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="memetrader.com">
    <meta name="twitter:creator" content="@subdavis">
    <meta name="twitter:title" content="MemeTrader" />
    <meta name="twitter:description" content="We strongly regret making this." />
    <meta name="twitter:url" content="http://memetrader.com" />

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container-fluid no-gutters">
        <div class="row">
            <div class="col-sm-4 col-md-3 fixed">
                <div id="portfolio">
                    
                    <!-- Account info -->
                    <div style="margin-bottom: -20px; margin-top: 10px;" id="logo" width="100%">
                        <img style="display: block; margin:auto;" width=250 height=250 src="{{ url_for('static', filename='img/logo.png') }}">
                    </div>
                    {% if current_user.is_authenticated %}
                        <h2 id="account-info">Account info:</h2>
                        <table class='portfolio'>
                            <tr>
                                <td> Money:</td>
                                <td id="account-money"> ${{ current_user.money|int }}</td>
                            </tr>
                            <tr>
                                <td> Holdings worth*: </td>
                                <td id="account-holdings">${{ current_user.stock_value|int }}</td>
                            </tr>
                        </table>
                        <p>*updated occasioablly by server</p>
                        <button onclick="location.href = '/logout';" id="logout">Log Out</button>
                    {% else %}
                        <h1> Sign in to trade: </h1>
                        <div id="fblogin">
                            <a href="/login"><img src="{{ url_for('static', filename='img/fblogin.png') }}"></a>
                        </div>
                    {% endif %}

                    <!-- Social -->
                    <div id="Social">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">meme trading was literally invented: http://memetrades.com</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        &nbsp;
                        <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmemetrades.com&width=106&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId=245240242552898" width="120" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        &nbsp;
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/meme-exchange/server" data-icon="octicon-star" data-count-href="/meme-exchange/server/stargazers" data-count-api="/repos/meme-exchange/server#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star meme-exchange/server on GitHub">Star</a>
                    </div>
                </div>
                
                <div class='buysellbox'>
                    <h1>Search: </h1>
                    <input class="buysell" onkeyup='search()' type='text' name='meme' id='meme'>
                    <br>
                    <button class="buysell" style="margin-top: 10px;" onclick="search()">Search</button>
                </div>
                
                <div id="search-results">
                    <table id='search-results-table'></table>
                </div>
                <!-- 
                <h1><a href="visualizer">Visualizer</a></h1> -->
                
                <h2>About MemeTrades.com</h2>
                <p>We the developers believe that civilization is entering the golden age of meme trading.</p>
                
                <h2>How this thing works</h2>
                <p> You must sign in with facebook to buy.  We won't send you email, notifications, or anything of the sort. Click memes to select them, then buy/sell.  Meme not listed?  Type or paste it into the box and buy one.  Don't let your memes be dreams</p>
            </div>
            
            <div class="col-sm-8 col-md-9">
                <div class="row">
                    <div class='col-sm-12'>
                        <center>
                            <h2 id="selected-stock">{{ stock.name if stock else '' }}</h2>
                        </center>
                    </div>
                    <div class="selected col-md-12">
                        <span id="selected-price">Price: {{ stock.price if stock else '' }}</span>
                        <span id="selected-trend">Trend:</span>
                        <span>Link:
                            <a id="selected-link" href="{{ base_url+'/stock/'+stock.get_id() if stock else '#' }}">
                                <img src="{{ url_for('static', filename='img/link.png') }}" width=32 height=32>
                            </a>
                        </span>
                        {% if current_user.is_authenticated %}
                            <button id="buy-button" style="background-color: green;" onclick="buy()">⬆ BUY</button>
                            <button id="sell-button" style='background-color: red;' onclick="sell()">⬇ SELL</button>
                            {% if current_user.is_admin %}
                                <button class="buysell" onclick="remove()">Admin: Remove</button>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        <div id="graph">
                            <div id="chartContainer" style="height: 300px; width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div id="{{ view }}" class='col-md-12'>
                        <ul class="nav nav-tabs">
                          
                          <li class='{{ "active" if view=="market" else "" }}'><a href="/">All Stocks</a></li>
                          
                          {% if current_user.is_authenticated %}
                            <li class='{{ "active" if view=="portfolio" else "" }}'><a href="/portfolio">My Stocks</a></li>
                          {% endif %}
                        
                        </ul>
                    </div>
                    <br>
                    <div id="jsonM">
                        <table>
                            <tr class='economy-header'>
                                <td>#</td>
                                <td>price</td>
                                <td>trend</td>
                                <td>name</td>
                            </tr>
                            {% for s in stocks %}
                            <tr class='economy'>
                                <td>{{ s.amount if s.amount else '' }}</td>
                                <td>${{ s.price|int }}</td>
                                <td>
                                    {% if s.trend > 0 %}
                                        <span class='trend_up'>⬆</span>
                                    {% else %}
                                        <span class='trend_down'>⬇</span>
                                    {% endif %}
                                </td>
                                <td>{{ s.name }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class='pagination'>
                        <a href="?page={{ page - 1 if page > 1 else 1 }}" style="float: left;">&nbsp;⇦</a>
                            Page: <span id="pagenumber">{{ page }}</span> 
                        <a href="?page={{ page + 1 }}" style="float: right;">⇨&nbsp;</a>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Public API</h3>
                            all stocks:
                            <pre>/api/stocks</pre>
                            price history:
                            <pre>/api/history?meme=yourmemehere</pre>
                            recent transactions:
                            <pre>/api/meme/recent</pre>
                            single stock info:
                            <pre>/api/stock?meme=yourmemehere</pre>
                        </div>
                        <div class="col-md-6">
                                <h3>Authenticated API</h3>
                                your stocks:
                                <pre>/api/me?api_key=yourkey</pre>
                                buy:
                                <pre>/api/buy?meme=yourmemehere&api_key=yourkey</pre>
                                sell:
                                <pre>/api/sell?meme=yourmemehere&api_key=yourkey</pre>
                                {% if current_user.is_authenticated %}
                                    Your api_key
                                    <pre>{{ current_user.api_key }}</pre>
                                {% else %}
                                    <a href="/login">Sign in with Facebook</a> to get your key
                                {% endif %}
                        </div>
                    </div>
                    Credit: <a href="http://subdavis.com">Brandon</a>
                        <a href="http://hgreer.com">Hastings</a>
                        <a href="https://github.com/dafondo">Austin</a>
                        <a href="https://kylefeng28.github.io/">Kyle</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <marquee behavior="scroll" direction="left" id='leaderboard'>
        Leaderboard: 
        {% for leader in leaders%}
            {{ ' ' ~ leader['name'] ~ ' ' ~ leader['total'] ~ ' -- ' }}
        {% endfor %}
        </marquee>
    </div>
    <script src="{{ url_for('static', filename='js/bees.js') }}"></script>
    <div style="display:none;" id="tbm"></div>
</body>
</html>
