 <html>
 <head>
    <title>MemeTrades.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The MemeTrades meme exchange is a free market for memers.">
    <meta name="keywords" content="meme,exchange,trade,nasdanq,stock,memes,copypasta">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />

    <!-- FACEBOOK -->
    <meta property="og:title" content="Meme Trades" />
    <meta property="og:site_name" content="memetrades.com"/>
    <meta property="og:description" content="We the developers believe that civilization is entering the golden age of meme trading."/>
    <meta property="og:url" content="https://memetrades.com"/>

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="memetrader.com">
    <meta name="twitter:creator" content="@subdavis">
    <meta name="twitter:title" content="MemeTrades.com" />
    <meta name="twitter:description" content="We the developers believe that civilization is entering the golden age of meme trading." />
    <meta name="twitter:url" content="https://memetrades.com" />

    <!-- JS -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- Zoom-out script (drag right to left)-->
    <script src="https://rawgithub.com/RolandBanguiran/highstock-zoom-out-selection/master/zoomout-selection.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container-fluid no-gutters">
        <div class="row">

            <!-- Sidebar -->
            <div class="col-sm-4 col-md-3 fixed">
                <div id="portfolio">
                    
                    <!-- Account info -->
                    <div style="margin-bottom: -20px; margin-top: 10px;" id="logo" width="100%">
                        <a href="/"> 
                            <img style="display: block; margin:auto;" width=250 height=250 src="{{ url_for('static', filename='img/logo-shit.png') }}">
                        </a>
                    </div>
                    {% if current_user.is_authenticated %}
                        <h2 id="account-info">Account info:</h2>
                        <table class='portfolio'>
                            <tr>
                                <td> 💵💵 Money:</td>
                                <td id="account-money"> ${{ current_user.money|int }}</td>
                            </tr>
                            <tr>
                                <td> 💰💰 Holdings*: </td>
                                <td id="account-holdings">${{ current_user.stock_value|int }}</td>
                            </tr>
                        </table>
                        <button class='refbutton' onclick="window.location.href='/earn-memebucks'">Earn Memebucks</button>
                        <button class="refbutton" onclick="location.href = '/logout';">Log Out</button>
                    {% else %}
                        <h1> Sign in to trade: </h1>
                        <div id="fblogin">
                            <a href="/login"><img src="{{ url_for('static', filename='img/fblogin.png') }}"></a>
                        </div>
                    {% endif %}

                    <!-- Social -->
                    <div id="Social">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false"></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        &nbsp;
                        <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmemetrades.com&width=106&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId=245240242552898" width="120" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        &nbsp;
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/meme-exchange/server" data-icon="octicon-star" data-count-href="/meme-exchange/server/stargazers" data-count-api="/repos/meme-exchange/server#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star meme-exchange/server on GitHub">Star</a>
                        <p>like us on facebook.  it will make us feel good.</p>
                    </div>
                </div>
                
                <!-- Search -->
                <div class='buysellbox'>
                    <h1>🔍👁 Search/Create: </h1>
                    <input class="buysell" onkeyup='search()' type='text' name='meme' id='meme' placeholder="literally type a meme">
                    <br>
                    <!-- <button class="buysell" style="margin-top: 10px;" onclick="search()">Search</button> -->
                </div>
                
                <!-- Search Results -->
                <div id="search-results">
                    <table id='search-results-table'></table>
                </div>
                
                <!-- About section -->
                <h2>what even is this?</h2>
                <p> Trading memes, obvs.  You must sign in with facebook to buy.  We won't send you email, notifications, or anything of the sort. Click memes to select them, then buy or sell.  Meme not listed?  Type or paste into the search bar, then inspect and buy.  Don't let your memes be dreams.
                </p>

                <h2>but... why?</h2>
                <p>We the developers believe that civilization is entering the golden age of meme trading. 
                </p>

                <h2>buy this website</h2>
                <p>buy this website for 3 bitcoin.  So we can say we sold something for a bitcoin.  email developers@memetrades.com for details.  Don't worry, the website isn't going down.</p>

                <h2>other info</h2>
                <ul>
                    <li>
                        <a href="/apidocs">json api</a>
                    </li>
                    <li>
                        <a href="https://reddit.com/r/memetrades">/r/memetrades</a>
                    </li>
                    <li>
                        <a href="/earn-memebucks">get more memebucks</a>
                    </li>
                    <li>
                        <a href="mailto:developers@memetrades.com">email the devs</a>
                    </li>
                    <li>
                        <a href="/static/disclaimer.txt">disclaimer</a>
                    </li>
                    <li>
                        <a href="/static/privacy_policy.txt">privacy policy</a>
                    </li>
                </ul>
                * Holdings updated every 2 min.
                <br>
                (BANNED**) - memes can now be sold but not bought, but owning a banned meme will disable your ability to create new memes for 24 hours.
                <br>
                (B:XX) - this tells you the last price you paid for a stock.
                </p>
                
            </div>
            
            <!-- Main Content -->
            <div class="col-sm-8 col-md-9">
                <div class="row">

                    <!-- Title -->
                    <div class='col-sm-12'>
                        <center>
                            <h2 meme="{{ stock.name if stock else '' }}" id="selected-stock">
                                {{ stock.name if stock else '' }}
                            </h2>
                        </center>
                    </div>
                    
                    <!-- Quick info pane below title -->
                    <div class="selected col-md-12">
                        <span id="selected-price">Price: {{ stock.price if stock else '' }}</span>
                        <span id="selected-trend">Trend:</span>
                        <span>Link:
                            <a id="selected-link" href="{{ base_url+'/stock/'+stock.id if view in ['recent','trending'] else (base_url+'/stock/'+stock.get_id() if stock else '#') }}">
                                <img src="{{ url_for('static', filename='img/link.png') }}" width=32 height=32>
                            </a>
                        </span>
                        {% if current_user.is_authenticated %}
                            <button id="buy-button" style="background-color: green;" onclick="buy()">⬆ BUY</button>
                            <button id="sell-button" style='background-color: red;' onclick="sell()">⬇ SELL</button>
                            {% if current_user.is_admin %}
                                <button onclick="remove()">Admin: Remove</button>
                            {% endif %}
                        {% endif %}
                    </div>

                    <!-- Time Chart -->
                    <!--<div id="col-md-6">
                        <div id="iframe-container">
                            <iframe src="https://www.bing.com/images/search?q={{ stock.name }}" id="iframe-div" scrolling="no"></iframe>
                        </div>
                    </div> -->

                    <div class="col-md-12">
                        <div id="graph">
                            <div id="chartContainer" style="height: 300px; width: 100%;">
                            </div>
                        </div>
                    </div>
                    <a id="scrollhere"></a>
                    <!-- Table nav -->
                    <div id="{{ view }}" class='col-md-12'>
                        <ul class="nav nav-tabs">
                          
                          <li class='{{ "active" if view=="market" else "" }}'>
                            <a href="/#scrollhere">All Stocks</a>
                          </li>
                          
                          {% if current_user.is_authenticated %}
                            <li class='{{ "active" if view=="portfolio" else "" }}'><a href="/portfolio#scrollhere">My Stocks</a></li>
                          {% endif %}

                          <li class='{{ "active" if view=="recent" else "" }}'>
                            <a href="/recent#scrollhere">All Recent Trades</a>
                          </li>

                          <li class='{{ "active" if view=="trending" else "" }}'>
                            <a href='/trending#scrollhere'>Trending</a>
                          </li>
                        
                        </ul>
                    </div>
                    <br>

                    <!-- Stock Table -->
                    <div id="jsonM" name="stocklist">
                        <table>
                            <tr class='economy-header'>
                                <td>#</td>
                                <td>price</td>
                                <td>trend</td>
                                <td>name</td>
                            </tr>
                            {% for s in stocks %}
                            <tr class='economy' meme='{{ s.name }}'>
                                <td>{{ s.amount if s.amount else '' }}</td>
                                <td>${{ s.price|int }}</td>
                                <td>
                                    {% if s.trend > 0 %}
                                        <span class='trend_up'>⬆</span>
                                    {% else %}
                                        <span class='trend_down'>⬇</span>
                                    {% endif %}
                                </td>
                                <td>{{ s.name }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                    {% if view=='market' %}
                    
                    <!-- Pagination  -->
                    <div class='pagination'>
                        <a href="?page={{ page - 1 if page > 1 else 1 }}#scrollhere" style="float: left;">&nbsp;⇦</a>
                            Page: <span id="pagenumber">{{ page }}</span> 
                        <a href="?page={{ page + 1 }}#scrollhere" style="float: right;">⇨&nbsp;</a>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <!-- Scrolling leaderboards. -->
    <div class="footer">
        <marquee behavior="scroll" direction="left" id='leaderboard'>
        Leaderboard: 
        {% for leader in leaders%}
            {{ ' ' ~ leader['name'] ~ ' ' ~ leader['total'] ~ ' -- ' }}
        {% endfor %}
        </marquee>
    </div>

    <!-- BEES -->
    <script src="{{ url_for('static', filename='js/bees.js') }}"></script>
    <div style="display:none;" id="tbm"></div>
</body>
</html>
